.task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task-checkbox {
  margin-right: 10px;
}

.task-text {
  font-size: 18px;
  color: #555;
}

.task-text.completed {
  text-decoration: line-through;
}